<?xml version="1.0" encoding="utf-8"?>
<XmlMqConfigArray xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <XmlMqConfig ServerIp="127.0.0.1" Port="5672" UserId="rabbitmq" Password="rabbitmq" >
    <Producer FindKey="协议数据发布队列" ExchangeName="DES.EXCHANGE.HASE.WRITE.GBT32960" RouteingKey=""/>
    <!--<Consumer FindKey="历史数据接收队列" ExchangeName="DES.EXCHANGE.HASE.CONVERTS.GBT32960" QueueName="DES.QUEUE.HASE.CONVERTS.GBT32960.H" ExchangeType="x-consistent-hash"  BindKey="100"/>-->

    <Producer FindKey="历史数据发布队列" ExchangeName="DES.EXCHANGE.HASE.CONVERTS.GBT32960" RouteingKey=""/>

    <!--<Consumer FindKey="协议数据接收队列" ExchangeName="DES.EXCHANGE.HASE.WRITE.GBT32960" QueueName="DES.QUEUE.HASE.WRITE.GBT32960" ExchangeType="x-consistent-hash"  BindKey="100"/>-->


    <Consumer FindKey="历史数据接收队列" ExchangeName="DES.EXCHANGE.FANOUT.HEX.GBT32960" QueueName="DES.QUEUE.FANOUT.DELIVERS.GBT32960" ExchangeType="fanout"  BindKey="100"/>
    <Producer FindKey="转发报文发送队列" ExchangeName="DES.EXCHANGE.DIRECT.HEX.SEND" RouteingKey="DES.RKEY.DIRECT.HEX.SEND.?"/>
  </XmlMqConfig>
</XmlMqConfigArray>